sudo: required
services:
  - docker

before_install:
  - docker build -t sanhidalgoo/docker-react -f Dockerfile.dev .


script:
 - docker run -e CI=true sanhidalgoo/docker-react npm run test -- --coverage